[submodule "APPS"]
	path = APPS
	url = https://github.com/jazafier00716/VSB-APPS
[submodule "ALG"]
	path = ALG
	url = https://github.com/jazafier00716/ALG
[submodule "UPR/tetris_clone"]
	path = UPR/tetris_clone
	url = https://github.com/jazafier00716/tetris_clone
